.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-name,
.product-category,
.product-price,
.product-stock,
.product-description {
  margin: 8px 0;
  text-align: center;
}

.add-to-cart-button {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}